.input {
    height: 150px;
    display: flex;
		flex-direction: column;
		box-sizing: content-box;
		width: 300px;
		margin: 0 auto;
}

.input .guess-field,
.input .guess-button{
	box-sizing: border-box;
	height: 50px;
  width: 300px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bolder;
  border-radius: 8px;
  padding: 5px;
	font-size: 18px;
	color: #95a5a6;
}

.guess-field{
  background-color: #50597b;
  color: #fff;
  border: solid 1px #1f253d;
}

.guess-button{
	background-color: #1f253d;
	border: solid 1px #1f253d;
	transition: background 1s ease-in-out;
}

.guess-button:hover{
	background-color: #e64c65;
	color: #fff;
}
